CurrencyRates.Web/Service References/CurrencyRatesService/CurrencyRatesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyRatesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49324/Services/CurrencyRatesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49324/Services/CurrencyRatesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49324/Services/CurrencyRatesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyRates.Model.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyRatesService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="ICurrencyRatesService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyRatesService_FindLatest_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLatest" />
  </wsdl:message>
  <wsdl:message name="ICurrencyRatesService_FindLatest_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLatestResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyRatesService">
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyRatesService/Find" message="tns:ICurrencyRatesService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyRatesService/FindResponse" message="tns:ICurrencyRatesService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindLatest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyRatesService/FindLatest" message="tns:ICurrencyRatesService_FindLatest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyRatesService/FindLatestResponse" message="tns:ICurrencyRatesService_FindLatest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyRatesService" type="tns:ICurrencyRatesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/ICurrencyRatesService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLatest">
      <soap:operation soapAction="http://tempuri.org/ICurrencyRatesService/FindLatest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyRatesService">
    <wsdl:port name="BasicHttpBinding_ICurrencyRatesService" binding="tns:BasicHttpBinding_ICurrencyRatesService">
      <soap:address location="http://localhost:49324/Services/CurrencyRatesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>