CurrencyRates.Web/Service References/CurrencyRatesService/CurrencyRatesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49324/Services/CurrencyRatesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyRates.Model.Entities" />
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyRates.Model.Entities" minOccurs="0" name="FindResult" nillable="true" type="q1:Rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLatest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyRates.Model.Entities" minOccurs="0" name="FindLatestResult" nillable="true" type="q2:ArrayOfRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>